.resume {
  width: 70%;
  margin: 0 6rem;
  font-weight: 500;
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

h4 {
  font-size: 1rem;
  color: #666;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.1rem;
  margin-top: 0.1rem;
}

ul {
  margin-top: 0.1rem;
  line-height: 1.4rem;
}

.education {
  h3 {
    margin-left: 2rem;
  }
  p {
    margin-left: 2.5rem;
  }
}

.experience {
  margin-bottom: 0.5rem;
}

.experience h3 {
  font-weight: bold;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.left-column,
.right-column {
  width: 48%;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info a {
  color: #333;
  text-decoration: none;
  margin-right: 10px;
}

.contact-info a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .resume {
    width: 90%;
    margin: 0 auto;
  }

  .two-columns {
    display: block;
  }

  .left-column,
  .right-column {
    width: 100%;
  }
}
