* {
  box-sizing: border-box;
}

.project {
  max-width: 80%;
  margin: 0 auto;
  padding: 3rem;
  font-weight: 500;
}

.project-tile {
  display: inline-block;
  width: 48%;
  margin: 1%;
  vertical-align: top;
}

@media (max-width: 768px) {
  .project-tile {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
}
