* {
  box-sizing: border-box;
}

.project {
  width: 50rem;
  margin: 0 6rem;
  padding: 3rem;
  margin-left: 10rem;
  margin-right: 5rem;
  font-weight: 500;
}

.project-tile {
  display: inline-block;
  margin: 3%;
  width: 20rem;
}
