* {
  box-sizing: border-box;
}

.project {
  max-width: 80%; /* Adjust this value as needed */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 3rem;
  font-weight: 500;
}

.project-tile {
  display: inline-block;
  width: 48%; /* Increased width for larger tiles */
  margin: 1%; /* Adjust spacing between tiles */
  vertical-align: top;
}
